.login {
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15%;
	background-color: #FFFFFF;
	border-radius: 10px;
}

.loginForm {
	width: 50%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.loginButts {
	list-style: none;
	text-align: center;
	padding-left: 0px;
}

.loginButts > li {
	display: inline-block;
}

.loginButts > li > Button {
	margin-top: 50%;
	margin-bottom: 50%;
}
