body {
	background-color: #bebcbc;
}

.main-viewer {
	width: 100% !important;
	margin-left: 0 !important;
	max-width: none !important;
	padding: 0 !important;
}

.main-row {
	height: 100%;
}

.side-nav, .main-viewer {
	height: 100%;
}

.side-nav {
	background-color: #E8E8E8;
    padding-top: 20px;
    padding-left: 40px;
}

.main-viewer {
	background-color: #bfbdbd;
}


#footer-head {
  display: "block";
  padding: "20px";
  height: "60px";
  width: "100%";
}

#footer-content {
  backgroundColor: "purple";
  fontSize: "20px";
  color: "white";
  borderTop: "1px solid #E7E7E7";
  textAlign: "center";
  padding: "20px";
  position: "fixed";
  left: "0";
  bottom: "0";
  height: "60px";
  width: "100%";
}