.main-viewer {
	width: 100% !important;
	margin-left: 0 !important;
	max-width: none !important;
	padding: 0 !important;
}

.side-nav, .main-viewer {
	height: 100%;
}

.side-nav {
	background-color: #E8E8E8;
    padding-top: 20px;
    padding-left: 40px;
}

.main-viewer {
	background-color: #bfbdbd;
}
