.note-options-main {
  opacity: 0;
  transition: all ease 0.8s;
  text-align: right;
  padding: 10px;
}

.note-options-main:hover {
  opacity: 1;
}

.note-options-main > i {
	margin-right: 10px;

}

.note-options-main > i:hover {
	cursor: pointer;
	
}